<div class="container pb-4">
    <h1 class="text-center">
        Angular 2+ 
        <small class="text-muted">The best Two-Way Binding Example!</small>
    </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Profile</li>
        </ol>
      </nav>
    <app-profile></app-profile>
</div>
<footer class="footer">
    <div class="container text-center">
      <a target="_blank" href="http://www.neocomplexx.com">Neocomplexx Group SA</a>
    </div>
</footer>
